powerappstest/pkgs/Wadl/sample_flow01.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://japan-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="sample_flow01" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="sample_flow01" />
  <grammars>
    <jsonTypes targetNamespace="https://japan-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput__Ux30E1_Ux30FC_Ux30EB_Ux306E_Ux9001_Ux4FE1_ux28_V2_ux29___Ux5B9B_Ux5148__def" />
      <string name="ManualTriggerInput__Ux30E1_Ux30FC_Ux30EB_Ux306E_Ux9001_Ux4FE1_ux28_V2_ux29___Ux672C_Ux6587__def" />
      <object name="ManualTriggerInput">
        <property name="メールの送信(V2)_宛先" type="string" />
        <property name="メールの送信(V2)_本文" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://japan-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="メールの送信(V2)_宛先" path="/メールの送信(V2)_宛先" type="xs:string" required="true" />
            <param style="plain" name="メールの送信(V2)_本文" path="/メールの送信(V2)_本文" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>